body {
  margin: 0;
  padding: 0;
  font-family: "barlow", serif;
}

.image-header-background {
  background-image: url(images/image-header.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120vh;
}

.nav-bar {
  margin-left: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

#meet-logo {
  margin-top: 25px;
}

.nav-list {
  font-size: 15px;
  list-style: none;
  text-align: right;
}

.nav-list li {
  display: inline;
}

.contact-button {
  font-weight: bold;
  padding: 16px;
  border: none;
  border-radius: 25px;
  background-color: white;
}

.creatives-heading {
  font-family: "fraunces", serif;
  text-align: center;
  font-size: 48px;
  color: aliceblue;
  margin-top: 100px;
  transform: scalex(1);
}

#icon-arrow {
  text-align: center;
  margin-top: 90px;
}

/* main-section */
.display-grid-transform-brand {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#image-transform img {
  height: 100%;
  width: 100%;
}

.tansform-brand {
  margin: 0 auto;
  align-content: center;
  text-align: justify;
  font-weight: bold;
}

.transform-brand-heading {
  font-size: 40px;
  font-family: "fraunces", serif;
}

.tansform-brand-text {
  font-size: 17px;
  color: rgb(119, 108, 108);
  margin-bottom: 50px;
}

.transform-brand-learn-more {
  font-weight: bold;
  font-family: "fraunces", serif;
}

.display-grid-stand-out-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#image-stand-out img {
  height: 100%;
  width: 100%;
}

.stand-out {
  margin: 0 auto;
  text-align: justify;
  align-content: center;
  font-weight: bolder;
  color: black;
}

.stand-out-text-heading {
  font-size: 40px;
  font-family: "fraunces", serif;
}

.stand-out-text {
  font-weight: bold;
  font-size: 17px;
  color: rgb(119, 108, 108);
  margin-bottom: 50px;
}

.stand-out-text-learn-more {
  font-family: "fraunces", serif;
  font-weight: bold;
}

.displaygrid-graphics-photography-background {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-gaphic-design-backgrround {
  width: 100%;
  height: 600px;
  background-image: url(images/image-graphic-design.jpg);
  background-size: cover;
  background-position: center;
  align-content: end;
  font-weight: bold;
  text-align: center;
  color: rgb(61, 58, 58);
}

.graphic-design-heading {
  font-family: "fraunces", serif;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bolder;
}

.graphic-design-text {
  font-size: 17px;
  padding-bottom: 40px;
}

.image-photography-background {
  width: 100%;
  height: 600px;
  background-image: url(images/image-photography.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  text-align: center;
  align-content: end;
  color: rgb(61, 58, 58);
}

.photography-heading {
  font-family: "fraunces", serif;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bolder;
}

.photography-text {
  font-size: 17px;
  padding-bottom: 40px;
}

/* .client-testimonials-section */
.client-testimonials-heading {
  font-family: "fraunces", serif;
  text-align: center;
  font-weight: bold;
  margin-top: 120px;
  font-size: 20px;
  color: rgb(61, 58, 58);
  transform: scalex(1);
}

.display-flex-one {
  display: flex;
  text-align: center;
  margin-top: 80px;
}

.emily-client-testimonials {
  font-weight: bold;
  width: 33.3%;
  color: rgb(61, 58, 58);
}

#emily-image img {
  width: 70px;
  border-radius: 50%;
}

.emily-testimonials {
  font-size: 18px;
  margin: 70px 0;
}

.emily {
  font-family: "fraunces", serif;
  font-size: 18px;
  color: black;
}

.thomas-client-testimonials {
  font-weight: bold;
  width: 33.3%;
  color: rgb(61, 58, 58);
}

#thomas-image img {
  width: 70px;
  border-radius: 50%;
}

.thomas-testimonials {
  font-size: 18px;
  margin: 70px 0;
}

.thomas {
  font-family: "fraunces", serif;
  font-size: 18px;
  color: black;
}

.jennie-client-testimonials {
  font-weight: bold;
  width: 33.3%;
  color: rgb(61, 58, 58);
}

#jennie-image img {
  width: 70px;
  border-radius: 50%;
}

.jennie-testimonials {
  font-size: 18px;
  margin: 70px 0;
}

.jennie {
  font-family: "fraunces", serif;
  font-size: 18px;
  color: black;
}

/* image-gallery-section */
.display-flex-two {
  display: flex;
  object-fit: cover;
  margin-top: 130px;
}

#image-gallery-milkbottles img {
  height: 70vh;
  width: 100%;
}

#image-gallery-orange img {
  height: 70vh;
  width: 100%;
}

#image-gallery-cone img {
  height: 70vh;
  width: 100%;
}

#image-gallery-sugarcubes img {
  height: 70vh;
  width: 100%;
}

/* footer section */
footer {
  background-color: mediumaquamarine;
  color: #90d4c6;
}

.footer-heading {
  font-family: "fraunces", serif;
  text-align: center;
  font-weight: bolder;
  margin-top: 0;
  padding-top: 60px;
  font-size: 35px;
  color: #428a79;
}

.footer-list {
  list-style: none;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  margin-bottom: 20px;
  color: #428a79;
}

.footer-list li {
  display: inline;
}

.footer-list-one {
  margin-right: 40px;
}

.footer-list-two {
  margin-right: 40px;
}

.icons {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.footer-icon-facebook {
  margin-right: 20px;
}

.footer-icon-instagram {
  margin-right: 20px;
}

.footer-icon-twitter {
  margin-right: 20px;
}
